﻿@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al blog</h1>

    <btn class="btn btn-primary">
        <a class="text-dark" href="/Comentarios/Index">Ver comentarios</a>
    </btn>
</div>
